@use '../../styles/partials/variables' as *;
@use '../../styles//partials//global' as *;

.video {
  @include tablet {
    min-height: 24.5rem;
  }

  &__posters {

    @include tablet {
      background-color: black;
    }
  }

  &__poster {
    width: 100%;

    @include tablet {
      width: 90%;
      margin: 0 2.5rem;
    }

    @include desktop {
      width: 80%;
      margin: 0 10rem;
    }
  }

  &__container {
    margin: 1.5rem $primary-space;

    @include tablet {
      margin-left: 3rem;
    }

	@include desktop {
		width: 60%;
		margin-left: 6rem;
	  }

  }

  &__title {
    padding-bottom: $primary-space;
    border-bottom: 1px solid $silver--color;
    color: $grayblack--color;

    @include tablet {
      border-bottom: none;
    }
  }

  &__info {
    border-bottom: 1px solid $silver--color;
    padding-bottom: $primary-space;
	@include flex;

    @include tablet {
      justify-content: space-between;
    }
  }

  &__channel {
    @include tablet {
		@include flex;
    }
  }

  &__para {
    color: $grayblack--color;
    font-weight: bold;
    padding: $primary-space 0 1.5rem 0;

    @include tablet {
      padding: 0;
    }
  }

  &__date {
    color: $silver--color;
    @include tablet {
      padding-left: 2rem;
    }
  }

  &__icon {
    margin: $primary-space 0 0 1.5rem;
    @include tablet {
		@include flex;
      margin: 0;
    }

	@include desktop {
		margin-right: $primary-space;
	  }
  }
  
  &__viewicon,
  &__likeicon {
	@include flex;
    color: $silver--color;
  }

  &__viewicon {
    margin-bottom: 1.5rem;

    @include tablet {
      margin: 0 2rem 0 $primary-space;
    }
  }
  &__imge {
    margin-right: 0.5rem;
  }

  &__comment {
	margin: 1.5rem 0;
	color: $grayblack--color ;
	line-height: 1.5rem;
  }

  &__span {
	@include tablet {
		display: none;
	}
  }
}
