@use '../../styles/partials/variables' as *;
@use '../../styles//partials//global' as *;

.video {
  @include tablet {
    min-height: 24.5rem;
  }

  &__posters {
    @include tablet {
      background-color: black;
    }
  }

  &__poster {
    width: 100%;

    @include tablet {
      width: 90%;
      padding-left: 6rem;
    }

    @include desktop {
      width: 80%;
      padding: 0 4rem;
      margin-left: 8rem;
    }
  }

  &__container {
    margin: 1.5rem 1rem;

    @include tablet {
      margin-left: 3rem;
    }

    @include desktop {
      width: 65%;
      padding-left: 6rem;
    }
  }

  &__title {
    padding-bottom: 1rem;
    border-bottom: 1px solid $silver--color;
    color: $grayblack--color;

    @include tablet {
      border-bottom: none;
    }

    @include desktop {
      font-size: 2rem;
    }
  }

  &__info {
    border-bottom: 1px solid $silver--color;
    padding-bottom: 1rem;
    @include flex;
  }

  &__channel {
    @include tablet {
      @include flex;
    }
  }

  &__para {
    color: $grayblack--color;
    font-weight: bold;
    padding: 1rem 0 1.5rem 0;

    @include tablet {
      padding: 0;
    }
  }

  &__date {
    color: $silver--color;
    @include tablet {
      padding-left: 2rem;
    }
  }

  &__icon {
    margin: 1rem 0 0 1.5rem;

    @include tablet {
      @include flex;
      margin-top: 0;
      margin-left: 13rem;
	}
  }

  &__viewicon,
  &__likeicon {
    @include flex;
    color: $silver--color;
  }

  &__viewicon {
    margin-bottom: 1.5rem;

    @include tablet {
      margin: 0 2rem 0 1rem;
    }
  }
  &__imge {
    margin-right: 0.5rem;
  }

  &__comment {
    margin: 1.5rem 0;
    color: $grayblack--color;
    line-height: 1.5rem;
  }

  &__span {
    @include tablet {
      display: none;
    }
  }
}
