@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.videolist {
  width: 100%;
  padding: 0 0.5rem;

  @include tablet {
    padding-left: 3rem;
  }

  @include desktop {
    position: absolute;
    width: 29%;
    left: 56rem;
    top: 40rem;
    padding: 0 1rem;
    margin: -1rem;
    border-left: 1px solid $silver--color;
  }

  &__title {
    color: $silver--color;
  }

  &__container {
    @include flex;
    margin-top: 1.5rem;
  }

  &__firstcontainer {
    @include flex;
  }

  &__image {
    width: 8rem;
    height: 5rem;
    border-radius: 7px;

    @include desktop {
      width: 7rem;
      height: 4rem;
    }
  }

  &__subcontainer {
    margin-left: 1rem;
    font-size: 0.9rem;
  }

  &__subtitle {
    color: $grayblack--color;
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 2.5rem;
    }

    @include desktop {
      margin-bottom: 1rem;
    }
  }

  &__para {
    color: $grayblack--color;
  }
}
