
@font-face {
  font-family: 'Avenir';
  src: url('../../assets/Font/extra/AvenirNextLTPro-Bold.woff2') format('woff2');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/Font/extra/AvenirNextLTPro-Regular.woff2') format
    ('woff2');
	font-style: Regular;
	font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/Font/extra/AvenirNextLTPro-Demi.woff2') format('woff2');
  font-style: Demi;
	font-weight: 600;
}
