// COLORS
$primary--color : #0095FF;
$primary--hover : #5c95bd;
$secondary--color: #FFFFFF;
$mercury--color:#E1E1E1;
$silver--color: #AFAFAF;
$grayblack--color: #323232;

// MARGIN 
$primary-space: 1rem;